@model WardrobeMVC.Models.Closet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Closet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Accessory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accessory.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bottom.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bottom.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sho.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sho.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Top.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Top.Name)
          
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClosetID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<div>
    <a href="~/Home/Index" <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;Home</a>
</div>
